/*GENERAL*/

*
{
    margin: 0;
    padding: 0;
}


a
{
    text-decoration: none;
    color: #444;
}

/*logo*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

/*container invisible*/

.wrapper-bis{
    width: 90%;
    margin: auto;
}

.wrapper-bis ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
    
}

ul li{
    width: 15%;
    text-align: center;
}

ul li:not(:last-child){
        border-right: 2px solid black;
}



ul{
    list-style: none;

}



header h1
{
    float:left;
    margin-top: 10px;
}


/*la barre de recherche*/






header .header-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header-box .logo, .header-box .search-bar, .header-box .reglog{
    width: 30%;
}

.header-box .reglog, .header-box .search-bar{
    color: black;
    margin-top: 30px;
}

.header-box .reglog p{
    float: right;
    color: black;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}



.searchform input, .searchform button {
	float: left
}
.searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	.searchform input:-moz-placeholder {
	  font-style: italic;
  	line-height: 15px
	}

.searchform button {
	background: #92dd5a;
	
	border: none;
	color:#fff;
	cursor: pointer;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #92dd5a inset;
	-moz-box-shadow: 0 0 2px #92dd5a inset;
	-webkit-box-shadow: 0 0 2px #92dd5a inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
	.searchform button:hover {
		opacity:.9;
	}









































footer
{
    background-color: #666666;
    height: 200px;
    color: #fff;
    
   
}




footer .footer-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.resauxSociaux, .renseignements, .catalogues{
    width: 25%;
    text-align: center;
    margin-top: 15px;      
}

.ml {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 10px;
}

.resauxSociaux h3, .renseignements h3, .catalogues h3{
    margin-bottom: 10px;
}

.catalogues .gc a{
    color: #00ffff;
}

.renseignements img{
    margin: auto;
}

.resauxSociaux img, .renseignements img, .catalogues img{
    padding: 10px;
}



