footer
{
    background-color: #666666;
    height: 200px;
    color: #fff;
    
   
}




footer .footer-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.resauxSociaux, .renseignements, .catalogues{
    width: 25%;
    text-align: center;
    margin-top: 15px;      
}

.ml {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 10px;
}

.resauxSociaux h3, .renseignements h3, .catalogues h3{
    margin-bottom: 10px;
}

.catalogues .gc a{
    color: #00ffff;
}

.renseignements img{
    margin: auto;
}

.resauxSociaux img, .renseignements img, .catalogues img{
    padding: 10px;
}

