@charset "UTF-8";

*
{
	margin-left: 100px;
}
.conversation
{
	width: 500px;
	height: 300px;
	overflow: auto;
	border: 2px solid black;
	text-align: justify;
	padding: 12px;
	margin: 50px; /* Marge extérieure de 50px */
	margin-left: 400px;
}

.decal
{
	width: 200px;
	height: 100px;
	margin-left: 300px;
}

