

*
{
    margin: 0;
    padding: 0;
}

 body
{
    background-color: #92dd5a;
}

a
{
    text-decoration: none;
    color: #444;
}

/* l'image principale*/



.box2 form
{
	margin-left: 10px;
}

.box2 h2
{
    margin-left: 15px;
    margin-top: 15px;
    
}

.box2 h1
{
	margin-left: 125px;
}



.login-box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;

}



#box
{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box2
{
    
    width: 400px;
    height: 300px;
    background: #fff;
    border: 3px solid black;
}

.box3
{
	
    width: 400px;
    height: 300px;
    background: #fff;
    border: 3px solid black;
}

.box3 h2
{
	margin-left: 45px;
    margin-top: 50px;
}

.box3 a
{
	margin-left: 80px;
}

.login-box button  {
  background-color: #92dd5a;
  font-size: 18px;
  color: white;
  border: none;
  display: block;
  margin: 70px auto;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.create-account{
    
    color: #92dd5a;
    margin-left: 70px;
    text-decoration: underline;
}


.mat-label {
  
    margin: 15px auto;
  
  font-size: 20px;
    margin-left: 10px;

  
}


.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}



.mat-input
{
    font-size: 20px;
    border-radius: 5px;
    color: black;
    
}


>>>>>>> d12ba78c75063c29bb3c9ee1e1904768d3db8aa5:Vue/styles1.css
