



/*container invisible*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}



.wrapper-bis{
    width: 90%;
    margin: auto;
}

.wrapper-bis ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
    
}

ul li{
    width: 15%;
    text-align: center;

    font-size: 20px;
   

}

ul li:not(:last-child){
        border-right: 2px solid black;
}



ul{
    list-style: none;

}



header h1
{

    float:center;
    margin-top: 10px;
}

h1
{
    
    font-family: 'Lobster', cursive;
    color: #92dd5a;
    margin-left: 100px;
    margin-top: 20px;
    
}


header h2
{
    float:left;
    margin-top: 10px;
    font-family: 'Poiret One', cursive;
}



.header-box .reglog p{
    float: right;
    color: black;
    margin-right: 50px;
    margin-top: 40px;
}




/*la barre de recherche*/

*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}



header .header-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin: auto;
    background: white;

}

.header-box .logo, .header-box .search-bar, .header-box .reglog{
    width: 30%;
}

.header-box .reglog, .header-box .search-bar{
    color: black;
    margin-top: 30px;
}

.header-box .reglog p{
    float: right;
    color: black;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

