{
    margin: 0;
    padding: 0;
}


a
{
    text-decoration: none;
    color: #444;
}

/*logo*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

/*container invisible*/

.wrapper-bis{
    width: 90%;
    margin: auto;
}

.wrapper-bis ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
    
}

ul li{
    width: 15%;
    text-align: center;
}

ul li:not(:last-child){
        border-right: 2px solid black;
}



ul{
    list-style: none;

}


/*la barre de recherche*/

*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}


.thumbnail img
{
    background: #ffd301;
}

.price
{
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

.caption > h4
{
    color: #e7480f;
    font-size: 18px;
}


/*text input*/
.btn-order
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e7480f;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}



