/*GENERAL*/

*
{
    margin: 0;
    padding: 0;
}


a
{
    text-decoration: none;
    color: #444;
}



.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}




/* l'image principale*/

#main-image
{
    height: 500px;

    background: url('public/images/domotique.jpeg') ;


}
h2
{
    text-transform: uppercase;
    color: #009e0f;
    text-align: center;
    margin-right: 300px;
}



