/*GENERAL*/

*
{
    margin: 0;
    padding: 0;
}


a
{
    text-decoration: none;
    color: #444;
}

/*logo*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

/*container invisible*/

.wrapper-bis{
    width: 90%;
    margin: auto;
}

.wrapper-bis ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
    
}

ul li{
    width: 15%;
    text-align: center;
}

ul li:not(:last-child){
        border-right: 2px solid black;
}



ul{
    list-style: none;

}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

