footer
{
    background-color: #666666;
    height: 220px;
    color: #fff;
    
   
}


footer .footer-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;

}

.resauxSociaux, .renseignements, .catalogues{
    width: 25%;
    text-align: center;
    margin-top: 15px;      
}


.renseignements img{
    margin: auto;
}

.resauxSociaux img, .renseignements img, .catalogues img{
    padding: 10px;
}


.create-account{
    
    color: #92dd5a;
    margin-left: 90px;
    text-decoration: underline;
}



.ml {
    text-align: center;
    color: white;
    font-size: 20px;
}

.ml a
{
	color: white;
}



.resauxSociaux h3, .renseignements h3, .catalogues h3{
    margin-bottom: 10px;
}

.catalogues .gc a{
    color: #00ffff;
}


