/*GENERAL*/

*
{
    margin: 0;
    padding: 0;
}


a
{
    text-decoration: none;
    color: #444;
}

/*logo*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

/*container invisible*/

.wrapper-bis{
    width: 90%;
    margin: auto;
}


.case{
   margin-right: 50px;
    margin-left: 50px;
    background: rgba(0,0,0,0.2);
    opacity: 20%;
    margin-bottom: 20px;
}

.piece{
    
  font-size: 15px;
  color: black;
  border: none;

  margin-right: 100px;
    margin-left: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}


.legende{
    
    color: black;
    font-size: 25px;
    font-family: fantasy;
}

.wrapper-bis ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
    
}

ul li{
    width: 15%;
    text-align: center;
}

ul li:not(:last-child){
        border-right: 2px solid black;
}



ul{
    list-style: none;

}



header h1
{
    float:left;
    margin-top: 10px;
}





header .header-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header-box .logo, .header-box .search-bar, .header-box .reglog{
    width: 30%;
}

.header-box .reglog, .header-box .search-bar{
    color: black;
    margin-top: 30px;
}

.header-box .reglog p{
    float: right;
    color: black;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

.searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  width:339px;
  box-shadow:0 4px 9px rgba(0,0,0,.37);
  -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
    margin-top: 0;
    text-align: center;
}

.searchform input, .searchform button {
	float: left
}
.searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	.searchform input:-moz-placeholder {
	  font-style: italic;
  	line-height: 15px
	}

.searchform button {
	background: #92dd5a;
	
	border: none;
	color:#fff;
	cursor: pointer;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #92dd5a inset;
	-moz-box-shadow: 0 0 2px #92dd5a inset;
	-webkit-box-shadow: 0 0 2px #92dd5a inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
	.searchform button:hover {
		opacity:.9;
	}




/* l'image principale*/
/*
.checkbox input
{
    display: none;
}

.checkbox .rounded
{
    background-color: #fff;
    border: 3px solid #bdc3c7;
    width: 9px; height: 9px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    position: relative;
        
}

input:checked + .rounded{
    border-color: #2ecc71;
    
}

input:checked + .rounded:after{
    content: '';
    display: block;
    width: 5px; height: 5px;
    position: absolute;
    top: 2px; left: 2px;
    border-radius: 2px;
    
}

.switch{
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    .on, .off{
        display: inline-block;
        float: left;
        background-color: #27ae60;
        width: 50%;
        height: 20px;
        padding: 4px 0;
        text-align: center;
        color: #fff;
        font-size: 15px;
        position: relative;
        z-index: 1;
    }
    
    .on{
        @include border-left-radius(20px);
    }
    .off{
        background-color: #c0392b;
        @include border-right-radius(20px);
        
        
    }
    
    .mid{
        display: inline-block;
        float: left;
        width: 20px; height: 20px;
        @include border-radius(20px);
        background-color: #fff;
        margin-left: -14px;
        margin-right: -14px;
        position: relative;
        z-index: 2;
        border: 4px solid #c0392b;
        
    }
        
    }
        
        
        
    }
    
    
}
*/

.switch{
    border: 1px solid white;
}

.switch input{
    display: none;
    margin-right: 50px;
    
    
}

.switch-btn{
    width: 80px;
    height: 40px;
    background: #e5e5e5;
   
    position: relative;
    
    border-radius: 20px;
    box-shadow: inset 0 10px 10px rgba(0,0,0,.3);
   
    
}

.switch-btn:before{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: #FFF;
    left: 2px;
    top: 2px;
    
    cursor: pointer;
    border-radius: 50%;
    transition: all 250ms ease-out;
  
}

input[type=checkbox]:checked + .switch-btn{
    background: rgba(100,255,100);
    
}


input[type=checkbox]:checked + .switch-btn:before{
    left: 42px;
    
}














h1
{
    margin-top: 10px;
    position: absolute;
    margin-left: 200px;
    color: #92dd5a;
    
}





.login-box, .login-box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.lumunosité, .wifi {
    width: 50%;
    text-align: center;
    margin-top: 15px;      
}

.notification, .bluetooth {
    width: 50%;
    text-align: center;
    margin-top: 15px;      
}


.box-bis{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.box-bis .left-right{
    width: 35%;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    margin-top: 50px;
}

.box-bis .left-right div{
    width: 47%;
    vertical-align: middle;
    margin-top: 0;
}

.box-bis .left-right div img{
    margin-top: 0;
    padding-top: 0;
}

.box button {
  background-color: #92dd5a;
  font-size: 18px;
  color: white;
  border: none;
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}


.mat-label {
  
    margin: 15px auto;
    font-size: 20px;
    margin-left: 35%;

}
.mat-input
{
    color: black;

    
}

.male
{
    margin-left: 35%;
}

.female
{
    margin-left: 45%;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-input
{
    font-size: 20px;
    
}




footer
{
    background-color: #666666;
    height: 200px;
    color: #fff;
    
   
}




footer .footer-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.resauxSociaux, .renseignements, .catalogues{
    width: 25%;
    text-align: center;
    margin-top: 15px;      
}

.ml {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 10px;
}

.resauxSociaux h3, .renseignements h3, .catalogues h3{
    margin-bottom: 10px;
}

.catalogues .gc a{
    color: #00ffff;
}

.renseignements img{
    margin: auto;
}

.resauxSociaux img, .renseignements img, .catalogues img{
    padding: 10px;
}



