
/*GENERAL*/

*
{
    margin: 0;
    padding: 0;
}

 body
{
    background-color: #92dd5a;
}
a
{
    text-decoration: none;
    color: #444;
}

/*logo*/
#img
{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}



.box2 h1
{
    margin-left: 125px;
    
}


.box2 h2
{
    margin-left: 20px;
    margin-top: 50px;
    
}

.box3
{
	width: 400px;
    height: 300px;
    background: #ffffff;
    border: 3px solid black;
}

.box3 h2
{
	margin-left: 52px;
    margin-top: 50px;
	
}



#box
{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	margin-bottom: 110px;
	margin-top: 50px;
	
  
}

.box2
{
    width: 400px;
    height: 300px;
    background: #ffffff;
    border: 3px solid black;
   
}


.login-box button  {
  background-color: #92dd5a;
  font-size: 18px;
  color: white;
  border: none;
  display: block;
  margin: 70px auto;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}



.mat-label 
{
  
	margin: 20px;
  	font-size: 20px;
    margin-left: 20px;

  
}


.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}


.mat-input
{
    font-size: 20px;
    border-radius: 5px;
    color: black;
    margin-left: 20px;
    

    
}






>>>>>>> d12ba78c75063c29bb3c9ee1e1904768d3db8aa5:Vue/styles1.css
>>>>>>> d2b9ca5fb7206e0b4e10f44b2c40f50c305f7bb4
